<% provide(:title, "Show train") %>
<div class="center-container">
  <ul id="train-carriages-list" style="list-style: none" >
    <% @train.carriages.each do |carriage| %>
      <li id="carriage-<%=carriage.id%>">
        <i class='bi bi-circle-fill blue'></i>
        <a href='<%= carriage_path(carriage.id) %>' style="text-decoration: none"><%= carriage.name %></a> (<%= carriage.seats.where(is_taken: false).count %> seats left)</li>
    <% end %>
  </ul>
</div>