<% provide(:title, "Home page") %>
<div class="center-container">
  <div class="search-inputs" style="font-size: 15px">
    <label for="departure-station">From: </label>
    <input type="text" id="departure-station" onkeyup="keyUp(this)">
    <i class="bi bi-arrow-left-right" style="margin: 0 15px; cursor: pointer" onclick="switchValues()"></i>
    <label for="arrival-station">to: </label>
    <input type="text" id="arrival-station">
    <label for="date-pick" style="margin-left: 10px">Date: </label>
    <input type="date" id="date-pick">
  </div>
  <div>
    <button class="btn btn-primary" id="find-trains" style="font-size: 15px; display: block; margin: 10px auto" onclick="find()" disabled>Search</button>
  </div>
  <div id="trains-result-table">

  </div>
</div>


<%= render partial: 'tickets/partials/destination_station_pick_modal' %>

<script>
    var offsetIndex = "station-".length
    var arrival_station_id = ""

    function inputKeyUp()
    {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('station-search-input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("station-ul");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function stationClick(id)
    {
        const value = id.substring(offsetIndex)
        const station = document.getElementById(id)
        if (arrival_station_id === "")
        {
            paintListItem(station, 'cornflowerBlue', 'white', 'true')
            arrival_station_id = value;
            document.querySelector('#confirm-choice-btn').disabled = false
        }
        else
        {
            if(station.dataset.chosen === 'true')
            {
                paintListItem(station, '#eee', 'black', 'false')
                arrival_station_id = "";
                document.querySelector('#confirm-choice-btn').disabled = true
            }
            else
            {
                const prevStation = document.getElementById('station-' + arrival_station_id);
                paintListItem(prevStation, '#eee', 'black', 'false')
                paintListItem(station, 'cornflowerBlue', 'white', 'true')
                arrival_station_id = value;
                document.querySelector('#confirm-choice-btn').disabled = false
            }
        }
        document.querySelector('input[name="arrival_station_id"]').value = arrival_station_id;
        console.log(arrival_station_id)
    }

    function paintListItem(item, bgColor, color, choose)
    {
        item.style.backgroundColor = bgColor;
        item.style.color = color;
        item.dataset.chosen = choose;
    }

  function getStations(item)
  {
      $.ajax(
          {
              method: 'GET',
              url: '/trains/' + item.value + '/get_arrival_stations',
              data: { after: item.dataset.dstation }
          }
      )
  }

  function validate(item)
  {
      return item.value === ""
  }

  function swap(item_a, item_b)
  {
      var temp = item_a.value
      item_a.value = item_b.value
      item_b.value = temp
  }

  function switchValues()
  {
      swap(document.querySelector('#arrival-station'), document.querySelector('#departure-station'))
      keyUp(document.querySelector('#departure-station'))
  }

  function keyUp(input)
  {
      document.querySelector('#find-trains').disabled = input.value === "";
  }

  function find()
  {
      var startInput, endInput, dateInput
      startInput = document.querySelector('#departure-station')
      endInput = document.querySelector('#arrival-station')
      dateInput = document.querySelector('#date-pick')
      $.ajax(
          {
              method: 'GET',
              url: '/tickets',
              data: { start: startInput.value, finish: endInput.value, date: dateInput.value }
          }
      )
  }
</script>