<div class="modal fade" id="destination_station_pick_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onClick="cancelHide()"></button>
      </div>
      <div class="modal-body">
        <label>Search for stations: </label>
        <input type="text" id="station-search-input" onkeyup="inputKeyUp()" placeholder="Search...">
        <div><label style="font-size: 12px; margin: 5px 0">Choose destination station:</label></div>
        <div style="display: grid; grid-auto-flow: column;">
          <ul id="station-ul" class="vertical-menu" style="width: 100%;">

          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="confirm-choice-btn" type="button" class="btn btn-primary" style="margin: 10px" data-bs-dismiss="modal" onClick="confirmChoice()" disabled>Confirm choice</button>
      </div>
    </div>
  </div>
</div>