var container = document.querySelector('.center-container')
container.querySelector('#train-carriages-list').style.display = 'none'
document.querySelector('#carriage-pick-h2').style.display = 'none'

var carriage = '<% if @carriage.carriage_type.name == 'First-class' %>'
  +'<%= escape_javascript(render partial: 'carriages/partials/passenger-carriage', locals: { car_type: :coupe,
                                                                           seats: @carriage.seats,
                                                                           per_row: 4,
                                                                           per_upper_row: 4,
                                                                           per_bottom_row: 0}) %>'
   + '<% elsif @carriage.carriage_type.name == 'Second-class' %>'
   + '<%= escape_javascript(render partial: 'carriages/partials/passenger-carriage', locals: { car_type: :plac,
                                                                           seats: @carriage.seats,
                                                                           per_row: 6,
                                                                           per_upper_row: 4,
                                                                           per_bottom_row: 2}) %>'
   + '<% end %> '

if (container.querySelector('.carriage') !== null)
    container.querySelector('.carriage').remove()

container.insertAdjacentHTML("beforebegin", '<div id="carriage-h2-div" style="text-align: center; margin: 5px 0"><h2>Choose place you want to order</h2><br>' +
  '<h2>Currently your chosen place is: <span id="seat-span" style="color: red">-<span></h2></div>')

container.innerHTML += carriage
container.innerHTML += '<div id="carriage-order-buttons" style="position: absolute; left: 50%; margin: 10px 0; transform: translate(-50%, 0);">' +
  '<button style="font-size: 15px" class="btn btn-primary" onclick="goBack()">Back</button>' +
  '<button id="confirm-order-button" class="btn btn-success" onclick="makeOrder()" style="font-size: 15px; margin: 0 10px" disabled>Confrim</button></div>'