<% provide(:title, "Routes") %>
<%= button_to "Create new route", new_route_path, method: :get, class: "btn btn-success", style: "font-size: 15px; margin: 10px" %>
<div class="output-table">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'routes/route_row', :collection => @routes, :as => :route  %>
    </tbody>
    <%= will_paginate %>
  </table>
</div>