<% provide(:title, "Create new route") %>
<%= form_for(@route, :remote => true) do |f| %>
<% end %>
<div class="centered-button">
   <button class="btn btn-primary" style="font-size: 15px" data-bs-toggle="modal" data-bs-target="#add_station_modal">Choose starting station</button>
</div>

<%= render partial: 'routes/partials/station_pick_modal', locals: { stations: @stations } %>

<%= javascript_include_tag "route/new" %>

<script>
  let newStation = "";
  const offsetIndex = 'station-'.length;


  function addStation()
  {
      if (newStation !== "")
      {
        $.ajax(
            {
                method: 'POST',
                url: '/routes/',
                data: { station_id: newStation}
            }
        )
      }
  }

</script>