@import "bootstrap";
@import "bootstrap-sprockets";
@import "bootstrap-mincer";
@import "bootstrap-compass";
@import "vertical-menu";
@import "joined-unorderd-list";
@import "carriage";
@import "train-stops-ul";
@import "route-stations-list";
@import "ticket";

// Overriding bootstrap-sass default css style
.fade
{
  opacity: 1;
}

ul#pills-tab
{
  justify-content: center;
}

.blue
{
  font-size: 21px;
  margin-right: 12px;
  color: #0b5ed7;
}

.add-station-container
{
  font-size: 24px;
  margin-left: 9px;
  color: green;
  width: fit-content;
  cursor: pointer;

  &:before{
      display: block;
      background-color: #0b5ed7;
      width: 4px;
      content: '';
      position: relative;
      top: 0;
      bottom: 0;
      left: 19px;
      height: 8px;
      margin: -13px 0;
  }

  button
  {
    margin-left: 1px;
    border-radius: 50%;
    font-size: 24px;
    *
    {
      color: green;
    }
  }

}

.btn-red
{
  color: red;
}

.nav-link.dropdown-toggle
{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.nav-link.dropdown-toggle:hover,
.nav-link.dropdown-toggle:active,
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle[aria-expanded='true']:focus,
.nav-link.dropdown-toggle[aria-expanded='true']:hover
{
  color: darkgray;
}

.nav > li > a
{
  font-size: 20px;
  text-decoration: none;
  color: white;
  &:hover
  {
    transition-duration: .5s;
    color: darkgray;
    background-color: transparent;
  }
  &:focus
  {
    background-color: transparent;
  }
}

ul > li
{
  font-size: 15px;
}

.debug_dump
{
  position: absolute;
  bottom: 45px;
  left: 0;
}

.dropdown-menu > li
{
  &:hover
  {
    transition-duration: .5s;
  }
  button
  {
    font-size: 14px;
    width: 130px;
    font-weight: 400;
    padding: 5px 8px;
  }
}

footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-end
{
  a, button {
  font-size: 15px;
  }

}

.center-container
{
  position: absolute;
  left: 50%;
  padding: 20px 0 0 0;
  transform: translate(-50%, 0);
  h2
  {
    text-align: center;
  }
}

.form-restrictions .field
{
  width: 100%;
  max-width: 300px;
  font-size: 15px;
  input{
    border-radius: 2px;
    border: 1px solid black;
  }
}

form
{
  font-size: 14px;
  input:not([type='checkbox'])
  {
    display: block;
    border-radius: 2px;
    border: 1px solid black;
    margin: 2px 0 2px 0;
  }
  label
  {
    display: block;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

table *
{
    margin: 5px;
    font-size: 16px;
}

.input-group
{
  margin: 10px;
  *{
    font-size: 15px;
  }
   button {
     margin-top: 2px;
   }
}

.centered-button
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.round-button
{
  border-radius: 50%;
}

#train-carriages-list
{
  list-style: none;
  li{
    position: relative;
    &:before
    {
      background-color: #0b5ed7;
      width: 3px;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 4px;
    }
  }

  /* Stop the line short on the final list item */
  li:last-child:before { height: auto; }
  /* Start the line further down on the first list item */
  li:first-child:before { top: 15px; height: auto; }
}

.route-name-span
{
  font-size: 20px;
  text-align: center;
  width: 100%;
  display: block;
  margin: 10px 0;
}

.centered-horizontally-button
{
  font-size: 15px;
  display: block;
  margin: 0 auto;
}