#ordered-stations-list
{
  list-style: none;
  li{
    position: relative;
    padding-bottom: 1em;
  }

  /* The actual line being placed before each list item, tweak width and color as appropriate */
  li:before {
    background-color: #0b5ed7;
    width: 3px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
  }

  /* Stop the line short on the final list item */
  li:last-child:before { height: auto; }
  /* Start the line further down on the first list item */
  li:first-child:before { top: 15px; height: auto; }


}