<footer class="text-center text-lg-start bg-dark text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4">
    <div class="me-5 d-none d-lg-block">
      <span>necr0me © 2022 </span>
    </div>
    <div>
      <a href="https://github.com/necr0me/" class="me-4 text-reset">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </section>
</footer>